ul .navigation{
    list-style-type: none;
    margin: 9;
    padding: 3;
    background-color: gray;
    font-size: 20px;
}

/* li {
float: left;
border-right: 1px solid white;
}

li:last-child {
    border-right: none;
}

 */
